/**
 * Gutter width.
 *
 * @type Number
 *
 * @group grid-system
 */
/**
 * Baseline size.
 *
 * @type Number
 *
 * @group grid-system
 */
/**
 * Column width.
 *
 * @type Number
 *
 * @group grid-system
 */
/**
 * Row height.
 *
 * @type Number
 *
 * @group grid-system
 */
/**
 * Number of columns.
 *
 * @type Number
 *
 * @group grid-system
 */
/**
 * Grid span.
 * Compute the width of a given number of grid columns.
 *
 * @example
 * .element {
 *   width: gs-span(3);
 * }
 *
 * @param {Number} $n-columns
 *
 * @requires {variable} gs-column-width
 * @requires {variable} gs-gutter
 *
 * @return {Number}
 *
 * @group grid-system
 */
/**
 * Grid height.
 * Compute the height of a given number of vertical grid units.
 *
 * @example
 * .element {
 *   padding-top: gs-height(2);
 * }
 *
 * @param {Number} $n-rows
 *
 * @requires {variable} gs-row-height
 * @requires {variable} gs-baseline
 *
 * @return {Number}
 *
 * @group grid-system
 */
/**
 * Grid container.
 * Snaps to `$gs-max-columns` columns at the wide breakpoint.
 *
 * @requires {mixin} mq
 * @requires {function} gs-span
 * @requires {variable} gs-gutter
 * @requires {variable} gs-max-columns
 *
 * @group grid-system
 */
/**
 * Grid columns helper classes, useful for quick prototyping.
 *
 * @example markup
 * <div class="gs-span-3"></div>
 *
 * @requires {variable} gs-max-columns
 * @requires {function} gs-span
 *
 * @group grid-system
 */
/**
 * Grid system.
 *
 * @requires {mixin} gs-container
 *
 * @group grid-system
 */
/**
 * An example of a colour palette to be used with guss-colours
 *
 * If you're looking for the guardian colour palette: https://github.com/guardian/pasteup-palette
 * 
 * @type Map
 *
 * @group colours
 */
/**
 * Get a colour from a given colour palette.
 * 
 * @param {String} $name                    - colour to get
 * @param {Map}    $palette ($guss-colours) - palette
 *
 * @requires {variable} guss-colours
 *
 * @return {Color | Null}
 *
 * @group colours
 */
/**
 * Generate helper classes for a given colour palette  
 * Outputs rules such as: `.c-red { color: red; }`.
 *
 * @param {Map}    $palette  ($guss-colours) - palette
 * @param {String} $prefix   ("c-")          - prefix
 * @param {String} $property ("color")       - property
 *
 * @requires {variable} guss-colours
 *
 * @group colours
 */
/**
 * Default colour palette
 *
 * @type Map
 *
 * @group colours
 */
@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.eot");
  src: url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.eot?#iefix") format("embedded-opentype"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.woff") format("woff"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.ttf") format("truetype"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Reg.svg#Guardian-Text-Egyp-Web-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.eot");
  src: url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.eot?#iefix") format("embedded-opentype"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.woff") format("woff"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.ttf") format("truetype"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.svg#Guardian-Egyp-Web-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.eot");
  src: url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.eot?#iefix") format("embedded-opentype"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.woff") format("woff"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.ttf") format("truetype"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.svg#Guardian-Egyp-Web-Light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Guardian Egyptian Headline";
  src: url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.eot");
  src: url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.eot?#iefix") format("embedded-opentype"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.woff") format("woff"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.ttf") format("truetype"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.svg#Guardian-Egyp-Web-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: 'Guardian Agate Sans';
  src: url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Ag-Sans-1-Web-Reg.eot");
  src: url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Ag-Sans-1-Web-Reg.eot?#iefix") format("embedded-opentype"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Ag-Sans-1-Web-Reg.woff") format("woff"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Ag-Sans-1-Web-Reg.ttf") format("truetype"), url("http://interactive.guim.co.uk/fonts/pasteup.guim.co.uk/fonts/latin1/Guardian-Ag-Sans-1-Web-Reg.svg#Guardian-Text-Egyp-Web-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
body {
  font-family: "Guardian Egyptian Text", Georgia,serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-size: 16px; }

a {
  color: #005689;
  text-decoration: none; }

/*Header and footer*/
header {
  background: #005689;
  height: 108px; }
  header img {
    width: 300px; }
  @media screen and (max-width: 480px) {
    header {
      height: 54px; }
      header img {
        width: 180px; } }

footer {
  background: #10477a;
  height: 48px; }
  footer .wrapper {
    background-color: #114b82;
    height: 48px; }
  footer p {
    color: #aad8f1;
    font-size: 14px;
    line-height: 48px;
    float: left; }
  @media screen and (max-width: 480px) {
    footer img {
      display: none; } }

header img, footer img {
  float: right;
  margin-top: 12px;
  line-height: 48px; }

/*Structure*/
.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 20px; }
  @media screen and (max-width: 1000px) {
    .wrapper {
      width: 780px; } }
  @media screen and (max-width: 860px) {
    .wrapper {
      width: 620px; } }
  @media screen and (max-width: 680px) {
    .wrapper {
      width: inherit;
      padding: 0 10px; } }

.container {
  width: 620px;
  margin: 0 auto;
  overflow: auto; }
  @media screen and (max-width: 680px) {
    .container {
      width: inherit; } }

/*Intro*/
#intro {
  color: #fff;
  background: #1878a5; }
  #intro .wrapper {
    background: #197CAA; }
  #intro h1 {
    font-family: "Guardian Egyptian Headline", Georgia,serif;
    font-size: 92px;
    padding: 24px 0 0; }
  #intro h2 {
    font-family: "Guardian Egyptian Headline", Georgia,serif;
    font-size: 34px;
    line-height: 40px;
    font-weight: 200;
    position: relative; }
    #intro h2:after {
      content: "";
      position: absolute;
      bottom: 6px;
      width: 180px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.5); }
  #intro p {
    padding: 0 0 36px 0; }

/*Events*/
#events {
  color: #333333;
  background: #eaeaea; }
  #events .wrapper {
    background: #f1f1f1; }
  #events .container {
    padding: 12px 0 24px; }

.event {
  border-top: solid 2px #ffbb00;
  background: #fff;
  padding: 12px 10px 48px;
  margin-bottom: 12px;
  position: relative; }
  .event h2 {
    font-family: "Guardian Egyptian Headline", Georgia,serif;
    font-size: 32px; }
  .event .time {
    font-family: "Guardian Agate Sans", Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    color: #767676;
    margin-bottom: 12px; }
    .event .time svg {
      margin-bottom: -2px; }
  .event p.description {
    font-size: 18px;
    line-height: 1.5em; }

/*Details*/
#details {
  color: #333333;
  background: #dfdfdf; }
  #details .wrapper {
    background: #eaeaea; }
  #details .container {
    padding: 12px 0 48px 0; }
  #details .column {
    width: 300px;
    float: left; }
    #details .column:first-of-type {
      margin-right: 20px; }

/*Buttons*/
.button {
  font-family: "Guardian Agate Sans", Helvetica,Arial,"Lucida Grande",sans-serif;
  display: inline-block;
  vertical-align: top;
  width: auto;
  text-decoration: none;
  -webkit-border-radius: 62.5rem;
  -moz-border-radius: 62.5rem;
  border-radius: 62.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px 0 20px;
  margin-right: 0.625rem; }

.button--register {
  position: absolute;
  bottom: 6px;
  right: 0;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  color: #333333;
  background-color: #ffbb00; }
  .button--register:hover {
    background-color: #e0a500; }
  .button--register svg {
    display: inline-block;
    margin: 0 0 -6px 6.66667px; }

/*Paragraphs*/
p {
  font-size: 18px;
  line-height: 1.5em;
  font-family: "Guardian Egyptian Text", Georgia,serif; }
  p strong {
    font-weight: 500; }
  p a {
    border-bottom: 1px solid rgba(0, 86, 137, 0.3);
    -webkit-transition: border .25s ease;
    -moz-transition: border .25s ease;
    -o-transition: border .25s ease;
    transition: border .25s ease; }
    p a:hover {
      border-color: rgba(0, 86, 137, 0.9); }
