@import 'bower_components/guss-grid-system/_grid-system.scss';
@import 'bower_components/guss-colours/_colours.scss';
@import 'bower_components/pasteup-palette/src/_palette.scss';
@import 'fonts.scss';

$guardian-brand: guss-colour(guardian-brand, $pasteup-palette);
$event-yellow: guss-colour(multimedia-main-2, $pasteup-palette);
$neutral-1: guss-colour(neutral-1, $pasteup-palette);
$neutral-2: guss-colour(neutral-2, $pasteup-palette);
$neutral-3: guss-colour(neutral-3, $pasteup-palette);
$neutral-5: guss-colour(neutral-5, $pasteup-palette);
$neutral-6: guss-colour(neutral-6, $pasteup-palette);
$neutral-7: guss-colour(neutral-7, $pasteup-palette);
$news-support-1: guss-colour(news-support-1, $pasteup-palette);

body{
	font-family: "Guardian Egyptian Text", Georgia,serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-size: 16px;
}

a{
	color: $guardian-brand;
	text-decoration: none;
}

/*Header and footer*/
header {
	background: $guardian-brand;
	height: $gs-row-height * 3;

	img {
		width: $gs-column-width * 5;
		float: right;
		margin-top: $gs-baseline/2;
	}

	@media (max-width: 480px) {
		height: $gs-row-height * 1.5;

		img {
			width: $gs-column-width * 3;
			margin-top: $gs-baseline/4;
		}
	}
}

footer{
	background: #10477a;
	height: $gs-baseline * 4;

	.wrapper {
		background-color: #114b82;
		height: $gs-baseline * 4;
	}

	p {
		color: $news-support-1;
		font-size: 14px;
		line-height: $gs-baseline * 4;
		float: left;
	}

	img{
		float: right;
		margin-top: $gs-baseline;
		line-height: $gs-baseline * 4;
	}

	@media (max-width: 480px) {
		img {
			display: none;
		}
	}
}

/*Structure*/
.wrapper {
	width: gs-span(12);
	margin: 0 auto;
	padding: 0 $gs-gutter;

	@media (max-width: 1000px) {
		width: gs-span(10);
	}

	@media (max-width: 860px) {
		width: gs-span(8);
	}

	@media (max-width: 680px) {
		width: inherit;
		padding: 0 $gs-gutter/2;
	}
}

.container {
	width: 620px;
	margin: 0 auto;

	@media (max-width: 680px) {
		width: inherit;
	}
}

/*Intro*/

#intro{
	color: #fff;
	background: #1878a5;

	.wrapper{
		background: #197CAA;
		padding-bottom: $gs-baseline * 6;
	}

	h1{
		font-family: "Guardian Egyptian Headline", Georgia,serif;
		font-size: 92px;
		padding: $gs-baseline * 2 0 0;
	}

	h2 {
		font-family: "Guardian Egyptian Headline", Georgia,serif;
		font-size: 34px;
    	line-height: 1.2em;
		font-weight: 200;
		position: relative;
		padding-bottom: $gs-baseline * 3;

		&:after {
			content: "";
			position: absolute;
			bottom: $gs-baseline / 2;
			width: $gs-column-width * 3;
			height: 2px;
			background-color: rgba(255, 255, 255, 0.5);
		}
	}

	@media (max-width: 480px) {
		h1 {
			font-size: 54px;
		}
		h2 {
			font-size: 26px;
		}
	}

	p{
		padding: 0 0 $gs-baseline * 3 0;

		&:last-of-type {
			padding-bottom: $gs-baseline;
		}
	}
}

/*Events*/

#events{
	color: $neutral-1;
	background: $neutral-6;

	.wrapper{
		background: $neutral-7;
	}

	.container {
		padding: $gs-baseline 0 $gs-baseline * 2;
	}

	.events_container .event_wrapper {
		&:before {
			font-size: 18px;
			display: block;
			margin: $gs-baseline * 2 0  $gs-baseline;
		}

		&:first-child {
			margin-top: -$gs-baseline * 8;

			&:before {
				color: #fff;
			}
		}
	}
}

.event {
	border-top: solid 2px $event-yellow;
	background: #fff;
	padding: $gs-baseline/2 $gs-gutter/2 $gs-baseline * 4;
	margin-bottom: $gs-baseline;
	position: relative;
	z-index: 1;

	h2{
		font-family: "Guardian Egyptian Headline", Georgia,serif;
		font-size: 32px;
	}

	.time {
		font-family: "Guardian Agate Sans", Helvetica,Arial,"Lucida Grande",sans-serif;
		font-size: 14px;
		color: $neutral-2;
		margin-bottom: $gs-baseline;

		&:before {
			content: url(images/clock.svg);
			bottom: -2px;
			margin-right: 3px;
			position: relative;
		}
	}
}

#first__On:before {
	content: "Upcoming Elevate Days";
}

#first__Off:before {
	content: "Previous Elevate Days";
}

/*Past event inactive state*/
.status__Off {
	.event {
		border-top-color: $neutral-3;

		.button--event {
			color: $neutral-3;
			background-color: $neutral-6;

			svg path {
				fill: $neutral-3;
			}

			&:hover {
				background-color: $neutral-6;
			}

			&:before {
				content: "Closed";
			}

			&:after {
				content: none;
			}
		}
	}
}

/*Details*/

#details{
	color: $neutral-1;
	background: $neutral-5;

	.wrapper{
		background: $neutral-6;
	}

	.container {
		padding: $gs-baseline 0 $gs-baseline * 4 0;
		overflow: auto;
	}

	.column {
		width: $gs-column-width * 5;
		float: left;

		@media (max-width: 680px) {
 			width: auto;
			margin-bottom: $gs-baseline;
		}

		&:first-of-type {
			margin-right: $gs-gutter;
		}
	}
}

/*Buttons*/

.button {
	font-family: "Guardian Agate Sans", Helvetica,Arial,"Lucida Grande",sans-serif;
	display: inline-block;
	font-size: 16px;
	height: 35px;
	line-height: 37px;
    vertical-align: top;
    width: auto;
    text-decoration: none;
    -webkit-border-radius: 62.5rem;
	-moz-border-radius: 62.5rem;
	border-radius: 62.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 $gs-gutter/1.5;
    margin-right: 0.625rem;

	svg {
		display: inline-block;
		margin: 0 0 -6px $gs-gutter/3;
	}
}

.button--intro{
    color: $neutral-1;
    background-color: $event-yellow;
	margin-bottom: $gs-baseline * 3;

	&:hover {
		background-color: darken($event-yellow, 6%);
	}
}

.button--event{
	position: absolute;
	bottom: $gs-baseline / 2;
	right: 0;
    color: $neutral-1;
    background-color: $event-yellow;

	&::before {
		content: "Submit";
	}

	&:after {
		content: url(images/arrow-right.svg);
		bottom: -$gs-baseline / 2;
		margin-left: $gs-gutter / 4;
		position: relative;
	}

	&:hover {
		background-color: darken($event-yellow, 6%);
	}
}

/*Paragraphs*/

p{
	font-size: 18px;
	line-height: 1.5em;
	font-family: "Guardian Egyptian Text", Georgia,serif;

	@media (max-width: 680px) {
		font-size: 16px;
	}

	strong {
		font-weight: 500;
	}

	a {
		border-bottom: 1px solid rgba($guardian-brand,0.3);
		-webkit-transition: border .25s ease;
		-moz-transition: border .25s ease;
		-o-transition: border .25s ease;
		transition: border .25s ease;

		&:hover {
			border-color: rgba($guardian-brand,0.9);
		}
	}
}

/*Sharing*/

.sharing {
	margin: 0 0 $gs-baseline;
	list-style: none;
	font-size: 0;

	.social__icon {
	    display: inline-block;
	    width: 32px;
		height: 32px;
		vertical-align: middle;
		position: relative;
		-webkit-border-radius: 62.5rem;
		border-radius: 62.5rem;
		margin-right: $gs-gutter/4;

		path {
			fill: #fff;
		}
	}
}

.social__icon--facebook {
	background-color: #3067A3;

	&:hover {
		background-color: darken(#3067A3, 6%);
	}
}

.social__icon--twitter {
	background-color: #03b3ee;

	&:hover {
		background-color: darken(#03b3ee, 6%);
	}
}

.social__icon--email {
	background-color: #767676;

	&:hover {
		background-color: darken(#767676, 6%);
	}
}

.social__icon--linkedin {
	background-color: #0071a1;

	&:hover {
		background-color: darken(#0071a1, 6%);
	}
}

.social__icon--gplus {
	background-color: #e15440;

	&:hover {
		background-color: darken(#e15440, 6%);
	}
}
